h1 {
    text-align: center;
    color: red;
}

#form {
    display: flex;
    justify-content: center;
}

#number {
    display: flex;
    justify-content: space-evenly;
    margin: 25%;
    font-size: 25px;
}