h1 {
    text-align: center;
    color: red;
}

#form {
    display: flex;
    justify-content: center;
}

#number {
    display: flex;
    justify-content: space-evenly;
    margin: 25%;
    font-size: 25px;
}

#currentGuess {
    display: flex;
    justify-content: center;
 
    font-size: 25px;
}

#numberOfGuesses {
    text-align: center;
}

#Rset {
    display: flex;
    justify-content: center;
}

#reset {
    color:crimson;
    background-color: transparent;
}

#reset:hover {
    box-shadow: 3px 3px 2px red;
    transform: translate(-2px,-3px);
}